*.code-workspace
*.egg
*.egg-info
*.ipynb
*.pyc
*.swp
.DS_Store
.coverage
.eggs
.env
.flake8
.idea
.pyre/
.pyre_configuration
.pytest_cache
.python-version
.venv
.vscode
Pipfile*
__pycache__
build
cut
dev.env
dist
env/
hold
htmlcov
sensor_downloads
test-results.xml
tests/_*
venv
